body{
  background-image: url(images/white-background.jpg);
  background-size: cover;
  background: no-repeat fixed center;
}

div{
  width: 300px;
  border: 15px;
  padding: 50px;
  margin: 20px;
  color: #7D504F;
}

a{
  font-family: 'Trebuchet MS';
  color: #3B0D11;
  text-align: center;
  font-style: italic;
}
a:link    { color: #B88B4A;  }
a:visited { color: rgb(4, 114, 117);   }
a:hover   { color: rgb(2, 73, 67); }
a:active  { color: rgb(8, 23, 233);  }


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1 {
  font-family: 'Trebuchet MS';
  font-size: 72px;
  color: #7D504F;
  text-align: center;
  font-style: strong;
}

h2{font-family: 'Trebuchet MS';
  font-size: 30px;
  color: #7D4F50;
  text-align: center;
  font-style: strong;

}

h3{
  font-family: 'Trebuchet MS';
  font-size: 20px;
  text-align: center;
  color: #7D4F50;
}

h6{
  font-family: Impact;
  font-size: 10px;
  color:#3B0D11;
  text-align: center;
}



p{
  font-family: 'Trebuchet MS';
  color: #3B0D11;
  text-align: center;
  
}

ul{
  font-family: 'Trebuchet MS';
  color: #3B0D11;
  text-align: center;
  list-style-position: inside;
}

ol{
  font-family: 'Trebuchet MS';
  color: #3B0D11;
  text-align: center;
  list-style-position: inside;
}